<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

 <typeAliases>
	<typeAlias type="com.myPortfolio.domain.NewsletterVO" alias="Newsletter"/>
	<typeAlias type="com.myPortfolio.domain.MessageVO" alias="Message"/>
 </typeAliases>
 
  <mappers>
	<mapper resource="mapper/NewsletterMapper.xml"/>
	<mapper resource="mapper/MessageMapper.xml"/>
  </mappers>
</configuration>